<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ori.mapper.ArticleMapper">
    <update id="incrementLikeCount">
        UPDATE tb_article
        SET like_count = like_count + #{delta}
        WHERE id = #{articleId}
    </update>
</mapper>